body{
    font-family: Arial;
    background-color: bisque;
}


.flex-container {

    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    text-align: center;
}

.item {

    flex: 100%;
    text-align: center;
}

p {
    font-size: 20px;
}

h2 {

    background-color: burlywood;
    padding: 30px;
}

#logo{
    margin: 7px;
 }