body{
    font-family: Arial;
    background-color: bisque;
}

* {
    box-sizing: border-box;
}

header h1{
    float: left;
    font-size: xx-large;
}

header h1 a{
    color: red;
}


nav {

    position: relative;
    width: 100%;
    height: 70px;
    background: rgba(90, 81, 81, 0.4);
    box-shadow: 10px 10px 20px rgb(0 0 0 / 20%);

}

header a {
    text-decoration: none;
    color: white;
}



nav ul {
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: large;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    line-height: 50px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 10px;
}


/* when hovering the color of text and of the box will change */

nav ul li a:hover {
    color: black;
    background-color: white;
}


footer {
    text-align: center;
    bottom: 10px;
}

@media screen and (min-width: 786px) {

    nav {
        position: fixed;
        box-sizing: border-box;
        padding: 0 100px 0px 0px;
    }

    nav ul li a {
        padding-right: 50px;
        font-size: 20px;
    }

    section {

        margin-left: 15%;
        margin-right: 15%;
    }
}